.offenders-pagination {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  justify-content: right;
}

.offenders-pagination-index {
  color: white;
  background-color: #3a57e8;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border-radius: 4px;
  font-weight: bold;
}

.offenders-pagination-button {
  border: 1px solid #6c757d;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  border-style: none;
}
