<div class="offenders-form-wrapper">

    <h1>Create New Offender</h1>
    <form [formGroup]="offenders.form" class="offenders-form">
        <input type="hidden" formControlName="$key" />

        <mat-form-field>
            <input formControlName="firstName" type="text" matInput placeholder="First Name*">
            <mat-error>First Name is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="lastName" type="text" matInput placeholder="Last Name*">
            <mat-error>Last Name is mandatory</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="location" placeholder="Select a location">
                <mat-option>None</mat-option>
                <ng-container *ngFor="let location of locations">
                    <mat-option value="{{location.id}}">{{location.value}}</mat-option>
                </ng-container>
            </mat-select>
            <mat-error>Location is mandatory</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input formControlName="birthdate" matInput [matDatepicker]="picker" placeholder="Birthday Date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>
        <mat-form-field>
            <input formControlName="profileImage" matInput placeholder="Profile Image">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>

    </form>

</div>