.app-body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-body-container {
  padding: 2em;
  height: 100%;
  width: 100%;
  max-width: 1400px;
}

.app-body-header {
  margin-top: 5%;
  height: 10%;
  width: 100%;
  margin-bottom: 50px;
}

.app-body-content {
  height: 80%;
  width: 100%;
  display: flex;
  gap: 10px;
}

.app-body-offender-map {
  height: 100%;
  flex: 0.8;
}

.app-body-offender-list {
  height: 100%;
  flex: 0.25;
}
