<app-header></app-header>
<div class="app-body">
    <!-- Define application here -->
    <div class="app-body-container">
        <div class="app-body-header">
            <app-title-app></app-title-app>
        </div>

        <div class="app-body-content">
            <div class="app-body-offender-map">
                <app-offenders-map></app-offenders-map>
            </div>
            <div class="app-body-offender-list">
                <app-offenders></app-offenders>
            </div>
        </div>
    </div>
</div>